<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serve HTML</title>
    <link rel="stylesheet" type="text/css" href="/assets/022-styles.css" />
</head>
<body>
<%- include('partials/022-nav.ejs') %>
<h1> Contact Us! </h1>
<p>Contact the coolest cats on the web right here..</p>
</body>
</html>