<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serve HTML</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
</head>
<body>
<%- include('partials/nav.ejs') %>
<h1> Welcome to the most awesome website on the internet</h1>
<p>You won't find a better website anywhere</p>
</body>
</html>